APP_ENV=TEST
READ_ONLY=true
PRODUCTION_WRITES=false
ARBITRARY_SQL=false
ARBITRARY_PLSQL=false
KILL_SWITCH=false
MAX_ROWS=1000
COMMAND_TIMEOUT_SECONDS=5
ORACLE_HOST=192.168.56.101
ORACLE_PORT=1521
ORACLE_SERVICE=orcl
ORACLE_USER=COMERCIAL
ORACLE_PASSWORD=
